.topnav {
    overflow: hidden;
	padding: 20px;
    background-color: #707bf5;
	font-family: Verdana, sans-serif;
	font-weight: bold;
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #d55757;
    color: black;
}

.logo {
	padding: 40px;
	background-color: #707bf5;
}

h1 {
    text-align: center;
	margin:20px;
      font-family: Cooper Black, sans-serif;
	}

h3 {
    text-align: center;
	font-family: verdana, sans-serif;
}

h4 {
    text-align: center;
	font-family: verdana, sans-serif;
} 

#map {
        width: 1000px;
        height: 700px;
        background-color: blue;
		margin: auto;
      }

#description {
    font-family: Verdana;
    font-size: 10px;
    font-weight: 300;
      }

 #infowindow-content .title {
        font-weight: bold;
      }

  #infowindow-content {
        display: none;
      }

  #map #infowindow-content {
        display: inline;
      }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #aedfdd;
        font-family: Verdana;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Verdana;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Verdana;
        font-size: 20px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #f53f3f ;
      }

      #title {
        color: #fff;
        background-color: #f53f3f ;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }


  .selected
  {
    border: 6px solid yellow;
  }